@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@800&display=swap');

body{
    font-family: 'Sofia Sans', sans-serif;
}
.text-center{
    text-align: center;
    color: darkorange;
    font-weight: 900;
}

.contain{
    background-color: lightblue;
    height: 530px;
    width: 280px;
    margin: 50px auto;
    border: 5px solid black;
}
.max-auto{
    margin: auto;
    margin-right: 190px;
}

.button{
    padding: 20px;
    width: 50px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    background-color: gold
}
.flex{
    display: flex;
}


.flex-col{
    flex-direction: column;
}
.row{
    margin: 8px 0;
    width: 2vw;
    display: flex;
    align-items: center;
}

.row input{
    font-size: 16.5px;
    margin: 0;
    padding: 7px 7px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: khaki;
}
.item-center{
    align-items: center;
}